<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="del">删除</button>
</body>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script>
        $('#del').click(function () {
            $.ajax({
                //请求方式
                type: "DELETE",
                //请求地址
                url: "http://127.0.0.1:8000/test/3/",
                //请求成功
                success: function (result) {
                    console.log(result);
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        });
    </script>
</html>